First we import pandas and read the csv file in our notebook. We write sep=";", since our data is semicolon-seperated, and very unreadable without seperating.

In [144]:
import pandas as pd

In [146]:
df = pd.read_csv("FIFA-21 Complete.csv", sep=";")

Then we check and see our data.

df = DataFrame

In [150]:
df

,player_id,name,nationality,position,overall,age,hits,potential,team
0,158023,Lionel Messi,Argentina,ST|CF|RW,94,33,299,94,FC Barcelona
1,20801,Cristiano Ronaldo,Portugal,ST|LW,93,35,276,93,Juventus
2,190871,Neymar Jr,Brazil,CAM|LW,92,28,186,92,Paris Saint-Germain
3,203376,Virgil van Dijk,Netherlands,CB,91,29,127,92,Liverpool
4,200389,Jan Oblak,Slovenia,GK,91,27,47,93,Atlético Madrid
...,...,...,...,...,...,...,...,...,...
17976,256093,Jaime Ortíz,Ecuador,ST,56,21,0,64,Sociedad Deportiva Aucas
17977,256088,Michael Carcelén,Ecuador,CM,56,23,0,64,Club Deportivo El Nacional
17978,256074,Davide Luzi,Venezuela,ST,56,18,1,68,Zamora Fútbol Club
17979,256073,Sergio Sulbarán,Venezuela,RW,56,22,0,62,Zamora Fútbol Club
17980,256072,Luis Peña,Venezuela,CM,56,18,0,69,Zamora Fútbol Club

Then we try out a column

In [153]:
df['name']

0             Lionel Messi
1        Cristiano Ronaldo
2                Neymar Jr
3          Virgil van Dijk
4                Jan Oblak
               ...
17976          Jaime Ortíz
17977     Michael Carcelén
17978          Davide Luzi
17979      Sergio Sulbarán
17980            Luis Peña
Name: name, Length: 17981, dtype: object

Look at the info, to see what values, each column holds.

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_id    17981 non-null  int64
 1   name         17981 non-null  object
 2   nationality  17981 non-null  object
 3   position     17981 non-null  object
 4   overall      17981 non-null  int64
 5   age          17981 non-null  int64
 6   hits         17981 non-null  int64
 7   potential    17981 non-null  int64
 8   team         17981 non-null  object
dtypes: int64(5), object(4)
memory usage: 1.2+ MB

Look for null values in our dataset. Luckily there is none, so we won't need to clean much. Else we would have had to write "df = df.dropna()" to remove the null values

In [159]:
df.isna().sum()

player_id      0
name           0
nationality    0
position       0
overall        0
age            0
hits           0
potential      0
team           0
dtype: int64

In [161]:
df['team']

0                      FC Barcelona
1                          Juventus
2               Paris Saint-Germain
3                         Liverpool
4                   Atlético Madrid
                    ...
17976      Sociedad Deportiva Aucas
17977    Club Deportivo El Nacional
17978            Zamora Fútbol Club
17979            Zamora Fútbol Club
17980            Zamora Fútbol Club
Name: team, Length: 17981, dtype: object

Finding the average age of the football players in the dataset.

In [164]:
mean_age = df.age.mean()
mean_age

26.311439853178356

Finding the average overall rating of all players in the dataset.

In [167]:
mean_overall = df.overall.mean()
mean_overall

67.27434514209443

Here we write a function that shows us all players from a specific football club, to maybe look into some interesting similarities or other. 

But the player_id = 179897 seems odd. We can see, that the player has a questionmark inside his name. This must be because of some character that is unreadable inside our dataset, so let's see if we can do anything about it.

In [170]:
def players_from_club(df, club_name):
    return df[df['team'].str.contains(club_name, case=False, na=False)]

In [172]:
players_from_club(df, "FC København")

,player_id,name,nationality,position,overall,age,hits,potential,team
1471,203965,Viktor Fischer,Denmark,ST|LM,76,26,6,78,FC København
1958,201303,Rasmus Falk,Denmark,RM|LM|CM,75,28,3,75,FC København
2106,168621,Zeca,Greece,CM,75,31,1,75,FC København
2587,190120,Karl-Johan Johnsson,Sweden,GK,74,30,2,75,FC København
2643,179875,Dame N'Doye,Senegal,ST,74,35,2,74,FC København
3269,183781,Andreas Bjelland,Denmark,CB,73,32,0,73,FC København
3273,183475,Sten Michael Grytebust,Norway,GK,73,30,1,73,FC København
3284,179897,Ragnar Sigur?sson,Iceland,CB,73,34,0,73,FC København
3483,235658,Victor Nelsson,Denmark,CB,72,21,2,82,FC København
3544,230964,Michael Santos,Uruguay,ST,72,27,2,73,FC København
4437,226583,Sotirios Papagiannopoulos,Sweden,CB,71,29,1,71,FC København
4769,200108,Nicolai Boilesen,Denmark,LB,71,28,0,71,FC København
5469,219914,Guillermo Varela,Uruguay,RB,70,27,3,71,FC København
6073,241522,Jonas Wind,Denmark,ST,69,21,3,78,FC København
6703,198335,Bryan Oviedo,Costa Rica,LB,69,30,0,69,FC København
7097,241985,Pep Biel,Spain,RM,68,23,0,74,FC København
7270,232711,Jens Stage,Denmark,RM|CM,68,23,2,76,FC København
7734,205929,Nicolaj Thomsen,Denmark,RM|LM,68,27,0,69,FC København
7972,181343,Pierre Bengtsson,Sweden,LB,68,32,1,68,FC København
8397,236273,Karlo Bartolec,Croatia,RB,67,25,0,72,FC København
11736,125586,Stephan Andersen,Denmark,GK,65,38,0,65,FC København
13169,246459,Mohamed Daramy,Denmark,ST|RM,63,18,7,83,FC København
13190,245264,Mikkel Kaufmann,Denmark,ST|LW,63,19,0,79,FC København
15917,247310,Robert Mudrazija,Croatia,CM,60,23,0,69,FC København

Same function as before, just for nationalities instead of football clubs.

In [175]:
def players_from_nation(df, nation_name):
    return df[df['nationality'].str.contains(nation_name, case=False, na=False)]

In [177]:
players_from_nation(df, "Iceland").head(20)

,player_id,name,nationality,position,overall,age,hits,potential,team
521,184484,Gylfi Sigur?sson,Iceland,CM|CAM,80,30,9,80,Everton
903,195586,Alfre? Finnbogason,Iceland,ST,78,31,1,78,FC Augsburg
1205,191076,Jóhann Berg Gu?mundsson,Iceland,RM|LM,77,29,6,77,Burnley
2365,221422,Sverrir Ingi Ingason,Iceland,RB|CB,74,26,3,78,PAOK
2453,208522,Hör?ur Magnússon,Iceland,LB|CB,74,27,1,77,PFC CSKA Moscow
3238,190461,Björn Bergmann Sigur?arson,Iceland,ST,73,29,0,73,Free Agents
3250,189167,Aron Gunnarsson,Iceland,CDM|CM,73,31,1,73,Free Agents
3284,179897,Ragnar Sigur?sson,Iceland,CB,73,34,0,73,FC København
3453,238196,Arnór Sigur?sson,Iceland,ST|LM|CAM,72,21,5,83,PFC CSKA Moscow
3693,221553,Vi?ar Örn Kjartansson,Iceland,ST,72,30,1,72,Yeni Malatyaspor
3901,203929,Jón Gu?ni Fjóluson,Iceland,CB,72,31,2,72,Free Agents
4025,190640,Victor Pálsson,Iceland,CB|CDM|CM,72,29,0,72,SV Darmstadt 98
4643,211177,Arnór Ingvi Traustason,Iceland,RM,71,27,2,71,Malmö FF
4988,133249,Emil Hallfre?sson,Iceland,CDM|CM,71,36,1,71,Free Agents
5179,238004,Albert Gu?mundsson,Iceland,CAM|RW|LW,70,23,3,77,AZ
5437,222562,Rúnar Alex Rúnarsson,Iceland,GK,70,25,1,75,Dijon FCO
5847,184255,Kolbeinn Sig?órsson,Iceland,ST,70,30,2,70,AIK
6509,213512,Gu?mundur ?órarinsson,Iceland,LWB|LM|CM|LW,69,28,1,69,New York City FC
6514,212992,Jón Da?i Bö?varsson,Iceland,ST|LW,69,28,1,69,Millwall
6847,175789,Birkir Bjarnason,Iceland,CDM|CM|CAM,69,32,0,69,Brescia

Here we write a function, that can search for different charaters in the name column. We do this to check for all players with an unrecognized character inside their name.

We see that there are 95 players with an unrecognized character, and sadly after searching up some of the names, there are multiple different unrecognizable characters, so we cant just replace them all with the same character.

We looked into our dataset, to check and see if maybe the characters could be restored, but sadly the dataset have also marked them as questionmarks.

We also see for player_id = 16999 his football club also has an unrecognizable character, but it's the same story as for the players.

In [180]:
def players_with_questionmark(df, char):
    return df[df['name'].str.contains(char, case=False, na=False, regex=False)]

In [182]:
filtered_df = players_with_questionmark(df, "?")

In [184]:
filtered_df

,player_id,name,nationality,position,overall,age,hits,potential,team
521,184484,Gylfi Sigur?sson,Iceland,CM|CAM,80,30,9,80,Everton
664,201325,Ciprian Tataru?anu,Romania,GK,79,34,3,79,Olympique Lyonnais
903,195586,Alfre? Finnbogason,Iceland,ST,78,31,1,78,FC Augsburg
1205,191076,Jóhann Berg Gu?mundsson,Iceland,RM|LM,77,29,6,77,Burnley
1710,234102,Ionu? Andrei Radu,Romania,GK,75,23,13,86,Parma
...,...,...,...,...,...,...,...,...,...
16616,248435,Luis Ni?u,Romania,ST|RW,59,19,0,74,U Craiova 1948 Club Sportiv
16999,256017,Mirel Bolboa?a,Romania,GK,58,31,0,59,Asocia?ia Fotbal Club Astra Giurgiu
17588,254289,Tiberiu Capu?a,Romania,RB,57,22,0,68,Fotbal Club Viitorul Constan?a
17659,251520,Iano? Brînza,Moldova,GK,57,21,0,69,Fotbal Club Boto?ani
17701,248013,Marian Târ?a,Romania,CDM|CM,57,22,0,65,Fotbal Club Boto?ani